/* Icon borders */
.icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    background: #ffffff;
}

.icon svg {
    width: 23px;
    height: 23px;
}

.icon1 {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon1 svg {
    width: 35px;
    height: 35px;
}
.database_icon {
    background: #fff0ee;
    border: 1px solid #ffd5d0;
    color: #ff7062;
}

.databasee_icon {
    background: rgba(190, 90, 220, 0.35);
    border: 1px solid darkslateblue;
    color: #b44ce0;
    position: relative;
    left: 135px;
}

.cloud_icon {
    background: rgba(52, 120, 246, 0.12);
    border: 1px solid rgba(52, 120, 246, 0.35);
    color: #4c8dff;
    position: relative;
    left: 135px;
}

.monitor_icon {
    background: rgba(69, 182, 73, 0.12);
    border: 1px solid rgba(69, 182, 73, 0.35);
    color: #45b649;
}

.file-code_icon {
    background: #edf4ff;
    border: 1px solid #d4e4ff;
    color: #3478f6;
}

.square-terminal_icon {
    background: rgba(255, 112, 98, 0.12);
    border: 1px solid rgba(255, 112, 98, 0.35);
    color: #ff7062;
    position: relative;
    right: -135px;
}

.square-code_icon {
    background: #fff0ee;
    border: 1px solid #ffd5d0;
    color: #ff7062;
}

.square-code_icon1 {
    color: #ff7062;
    position: relative;
    right: 535px;
}

.square-code_icon3 {
    color: #ff7062;
    position: relative;
    right: 615px;
}

.square-code_icon2 {
    color: #ff7062;
    transform: translate(-613px, -1px);
}

.heart-pulse_icon {
    background: #f6edff;
    border: 1px solid #ead5ff;
    color: #b44ce0;
}

.file_icon {
    background: rgba(69, 182, 73, 0.12);
    border: 1px solid rgba(69, 182, 73, 0.35);
    color: #45b649;
}

.settings_icon {
    background: rgba(69, 182, 73, 0.12);
    border: 1px solid rgba(69, 182, 73, 0.35);
    color: #45b649;
    position: relative;
    left: 135px;
}

.search_icon {
    background: #edf4ff;
    border: 1px solid #d4e4ff;;
    color: #3478f6;
}

.menu {
    background:#ff7062;
    transform: translate(-900px,0px);
}

.project-card {
    background: white;
    border-radius: 12px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    min-height: 380px;
}

.project-icon {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.project-title {
    margin: 0 0 12px;
    font-size: 1.25rem;
}

.project-description {
    line-height: 1.6;
    margin-bottom: 20px;
}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin-bottom: 25px;
}

.technology-tag {
    padding: 6px 10px;
    border-radius: 5px;
    background: #f1f1f1;

    font-size: 0.8rem;
}

.project-button {
    margin-top: auto;
}